.DS_Store
undo
Brewfile.lock.json
.zshrc_local
packages/claude/.claude/*
!packages/claude/.claude/settings.default.json
!packages/claude/.claude/hooks/
packages/claude/.claude/hooks/*
!packages/claude/.claude/hooks/notify.sh
